{{# each productsChunk }}
    <div class="row">
        {{# each this}}
            <div class="col-sm-6 col-md-4 mb-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top img-fluid" src="{{this.imagePath}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{this.title}}</h5>
                        <p class="card-text description">{{this.description}}</p>
                        <div class="clearfix">
                            <div class="price float-left mt-2">${{this.price}}</div>
                            <a href="/add-to-cart/" class="btn btn-success float-right">Buy</a>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
{{/each}}
