<div class="row">
    <div class="col-sm-6 col-md-4 mb-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top img-fluid" src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Gothiccover.png/220px-Gothiccover.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Thumbnail Label</h5>
                <p class="card-text describtion">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="clearfix">
                    <div class="price float-left mt-2">$12</div>
                    <a href="#" class="btn btn-success float-right">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4 mb-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top img-fluid" src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Gothiccover.png/220px-Gothiccover.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Thumbnail Label</h5>
                <p class="card-text describtion">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="clearfix">
                    <div class="price float-left mt-2">$12</div>
                    <a href="#" class="btn btn-success float-right">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4 mb-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top img-fluid" src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Gothiccover.png/220px-Gothiccover.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Thumbnail Label</h5>
                <p class="card-text describtion">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="clearfix">
                    <div class="price float-left mt-2">$12</div>
                    <a href="#" class="btn btn-success float-right">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4 mb-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top img-fluid" src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Gothiccover.png/220px-Gothiccover.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Thumbnail Label</h5>
                <p class="card-text describtion">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="clearfix">
                    <div class="price float-left mt-2">$12</div>
                    <a href="#" class="btn btn-success float-right">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4 mb-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top img-fluid" src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Gothiccover.png/220px-Gothiccover.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Thumbnail Label</h5>
                <p class="card-text describtion">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="clearfix">
                    <div class="price float-left mt-2">$12</div>
                    <a href="#" class="btn btn-success float-right">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4 mb-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top img-fluid" src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Gothiccover.png/220px-Gothiccover.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Thumbnail Label</h5>
                <p class="card-text describtion">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="clearfix">
                    <div class="price float-left mt-2">$12</div>
                    <a href="#" class="btn btn-success float-right">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

</div>
